.valid-input {
  padding: 20px;
  font-size: 15px;
  display: block;
  margin: 10px auto 20px;
  border-radius: 2px;
  border: 2px solid lightgray;
}

.input {
  &-clear {
    margin: 0 auto;
    display: block;
    padding: 20px;
    text-transform: uppercase;
  }
}

